* {
    padding: 0;
    margin: 0;
    overscroll-behavior: contain;
}

#body {
    background: url(background.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    background-image: linear-gradient(129.1deg, rgba(243, 199, 83, 1) 26.8%, rgba(18, 235, 207, 1) 114.1%);
    width: 90vmin;
    height: 90vmin;
    display: grid;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(25, 1fr);
    border: 12px solid rgb(87, 64, 1);
    margin: 0 auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

#scoreBox {
    position: absolute;
    top: 9px;
    right: 185px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Permanent Marker', serif;
    color: rgb(103, 255, 242);
    font-weight: bold;
}

#hiscoreBox {
    position: absolute;
    top: 59px;
    right: 135px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Permanent Marker', serif;
    color: rgb(189, 255, 74);
}

.snake {
    background: linear-gradient(rgb(0, 106, 0), rgb(118, 205, 12));
    background-position: 50%;
    border-radius: 8px;
    border-top: 5px solid rgb(0, 97, 7);
}

.head {
    background-color: rgb(42, 67, 5);
    border-radius: 10px;
    background-size: 200%;
    background-repeat: no-repeat;
}

.food {
    background-image: url(apple.png);
    background-size: 90%;
    background-repeat: no-repeat;
}

@media (max-width:480px) {
    #body {
        min-height: 92vh;
        background-image: linear-gradient(109.6deg, rgba(61, 245, 167, 1) 11.2%, rgba(9, 111, 224, 1) 91.1%);
        background-size: 100vw 92vh;
    }

    #board {
        background-image: linear-gradient(129.1deg, rgba(243, 199, 83, 1) 26.8%, rgba(18, 235, 207, 1) 114.1%);
        grid-template-rows: repeat(15, 1fr);
        grid-template-columns: repeat(15, 1fr);
    }

    #scoreBox {
        color: rgb(0, 8, 10);
    }

    #hiscoreBox {
        color: rgb(52, 0, 0);
    }
}
