* {
    padding: 0;
    margin: 0;
    overscroll-behavior: contain;
}

#body {
    background: url(background.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    background-image: linear-gradient(129.1deg, rgba(243, 199, 83, 1) 26.8%, rgba(18, 235, 207, 1) 114.1%);
    width: 90vmin;
    height: 90vmin;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
    border: 12px solid rgb(87, 64, 1);
    margin: 0 auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

#scoreBox {
    position: absolute;
    top: 5%;
    right: 17%;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Acme', serif;
    color: rgb(103, 255, 242);
    font-weight: bold;
}

#highscoreBox {
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Acme', serif;
    color: rgb(189, 255, 74);
}

.snake {
    background: linear-gradient(rgb(0, 106, 0), rgb(118, 205, 12));
    background-position: 50%;
    border-radius: 8px;
    border-top: 5px solid rgb(0, 97, 7);

}

.head {
    background: linear-gradient(rgb(0, 106, 0), rgb(27, 49, 0));
    border-radius: 12px;
    background-size: 200%;
    background-repeat: no-repeat;
}

.food {
    background-image: url(apple.png);
    background-size: 90%;
    background-repeat: no-repeat;
}

@media (max-width:480px) {
    #body {
        background-color: #52ACFF;
        background-image: linear-gradient(90deg, #52ACFF 25%, #5fef74 100%);
        min-height: 92vh;
        background-size: 100vw 92vmin;
    }

    #board {
        background-image: linear-gradient(129.1deg, rgb(240, 211, 81) 26.8%, rgb(235, 79, 233) 114.1%);
        grid-template-rows: repeat(15, 1fr);
        grid-template-columns: repeat(15, 1fr);
        border: 12px solid rgb(84, 58, 2);
    }

    #scoreBox {
        color: rgb(26, 80, 5);
        font-size: 35px;
        top: 12%;
        left: 10%;
    }

    #highscoreBox {
        color: rgb(71, 38, 3);
        font-size: 40px;
        top: 2%;
        left: 10%;
    }
}